 @tailwind base;
@tailwind components;
@tailwind utilities;
.active-link{
    background-color:black;
    color:whitesmoke
}
.pending-link{
    color:black;
    background-color: rgb(202, 202, 202);
}